@import (reference) '../../../../css/framework/less/index/index.less';
.dropdown-nav {
  display: none;

  .box-shadow-2;
  width: 50vw;
  z-index: 1;
  border-radius: 4px;
  position: absolute;
  margin-top: 5px;
  top: 100%;
  right: 0px;
  background: white;
  color: @black-text-color;
}
.dropdown-nav__header {
  .grid-column;
  .pad-5;
  .col-gap-5;
  align-items: center;
  grid-template-columns: 1fr max-content;
  border-radius: 4px 4px 0 0;
  background-color: @background-color2;
}

.dropdown-nav__heading {
  .main-font-medium;
  .push-right-10;
  .giga;
}

.dropdown-nav__link {
  .grid-row;
  .pad-tb-4;
  .mega;
  justify-content: center;
  &:hover {
    background-color: @background-color2;
  }
}

@media @tablet {
  .dropdown-nav {
    width: 300px;
  }
}
