@import (reference) '../index/index.less';

// Themes
@background-color1: #f9fbfc;
@background-color2: #eff4f8;

// Footer
@footer-color: #384251;

// Text
@black-text-color: #284c61;
@white-text-color: #f7f7f7;
@gray-text-color: #607681;

// Buttons
@primary-color: #ffc814;
@secondary-color: #3ecf8e;
// USE THIS NICE PURPLE
// background-image: linear-gradient(190deg, #5b05e6 0%, #9606da 100%);

@danger-color: #cc433f;

// General
@disabled-color: #abb2b5;
@wrong-color: #f31111;
@barely-visible-color: #fcfcfc;

// Pairs
@block-border-color: #ccdae5;
@block-background-color: #fcfcfc;
