.dropdown-nav{
    display:none;
    -webkit-box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.15);
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.15);
    width:50vw;
    z-index:1;
    border-radius:4px;
    position:absolute;
    margin-top:5px;
    top:100%;
    right:0px;
    background:white;
    color:#284c61
}
.dropdown-nav__header{
    display:grid;
    grid-auto-flow:column;
    padding:1.5rem;
    grid-column-gap:1.5rem;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    grid-template-columns:1fr -webkit-max-content;
    grid-template-columns:1fr max-content;
    border-radius:4px 4px 0 0;
    background-color:#eff4f8
}
.dropdown-nav__heading{
    font-family:'Roboto';
    font-weight:400;
    font-weight:500;
    margin-right:3.45rem;
    font-size:1.2656rem;
    line-height:1.875rem
}
.dropdown-nav__link{
    display:grid;
    grid-auto-flow:row;
    padding-top:1.122rem;
    padding-bottom:1.122rem;
    font-size:1.125rem;
    line-height:1.5rem;
    color:#284c61;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    cursor: pointer    
}
.dropdown-nav__link--logout{
    color: red;
}
.dropdown-nav__link:hover{
    background-color:#eff4f8;
}
@media only screen and (min-width:768px){
    .dropdown-nav{
        width:300px
    }
}
